:root {
    font-family:Helvetica, sans-serif;
    color:white;
    --neutral:#7c5295;
    --correct:#649568;
    --wrong:#CD5C5C;
}
a {
    color:white;
}
.btn {
    color:white;
    background: rgb(133,83,145);
    background: linear-gradient(90deg, rgba(133,83,145,1) 0%, rgba(86,46,154,1) 100%); 
    padding:10px;
    text-transform: uppercase;
    border-radius:20px;
}

.btn:hover {
    box-shadow: 2px 2px gray;
    font-weight: bold;
}

.hide {
    display:none;
}

#home {
    display:flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    height:100vh;
    width:100vw;
}

#answer-buttons {
    display: block;
}

header {
    display:flex;
    justify-content: space-between;
}

body {
    background-color:var(--neutral);
}

body.correct {
    background-color:var(--correct);
}

body.wrong {
    background-color: var(--wrong);
}

#question-container {
    width:800px;
    max-width:80%;
    background-color: white;
    border-radius:5px;
    padding:10px;
    box-shadow: 0 0 10px 2px white;
    
}

#timer {
    color:white;
    background: rgb(133,83,145);
    background: linear-gradient(90deg, rgba(133,83,145,1) 0%, rgba(86,46,154,1) 100%); 
    padding:10px;
    text-transform: uppercase;
    border-radius:20px;
    box-shadow: 0 0 10px 2px  white;
}

#question {
    color:black;
    
}